html,body{ 
    width:100%;
    height:100%;
    background:#45ade5;
}

/* remove canvas default margin */
canvas{
    display:block;
}

#particles-js{
    width:100%;
    height:100%;
}
.form-panel {
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 200px;
    background: #eee;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input {
    margin-bottom: 4px; 
}
